<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://paparonimegachallenge.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>paparonimegachallenge.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PapaRoniMegaChallenge</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$PapaRoniMegaChallenge</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BobsPizzaEntities" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:paparonimegachallengedbserver.database.windows.net,1433;Initial Catalog=PapaRoniMegaChallenge_db;User ID=gravelfox@paparonimegachallengedbserver;Password=$lickFox53" Name="Data Source=tcp:paparonimegachallengedbserver.database.windows.net,1433;Initial Catalog=PapaRoniMegaChallenge_db;User Id=gravelfox@paparonimegachallengedbserver;Password=$lickFox53" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;c:\users\student\documents\visual studio 2015\Projects\PapaBobsMegaChallenge\PapaBobsMegaChallenge\App_Data\BobsPizza.mdf&quot;;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BobsPizzaEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/BobsPizzaEntities.csdl|res://*/BobsPizzaEntities.ssdl|res://*/BobsPizzaEntities.msl;provider=System.Data.SqlClient;provider connection string='data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=&quot;c:\users\student\documents\visual studio 2015\Projects\PapaBobsMegaChallenge\PapaBobsMegaChallenge\App_Data\BobsPizza.mdf&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BobsPizzaEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/BobsPizzaEntities.csdl|res://*/BobsPizzaEntities.ssdl|res://*/BobsPizzaEntities.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:paparonimegachallengedbserver.database.windows.net,1433;initial catalog=PapaRoniMegaChallenge_db;user id=gravelfox@paparonimegachallengedbserver;password=$lickFox53;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>